body {
  height: 100%;
}

.grey {
    color: rgb(173, 169, 169);
    font-size: 0.7em;
}

.lightgrey {
    background-color: lightgrey;
    overflow: none;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 2px 5px 3px 5px;
    word-wrap: break-word;
}

.wb {
    overflow: wrap;
    word-wrap: break-word;
}

.lightblue {
    background-color: lightblue;
    overflow: none;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 2px 5px 3px 5px;
    word-wrap: break-word;
}

.ml {
    margin-left: 22px;
}

.mr {
    margin-right: 22px;
}

.errmsg {
    color: red;
    position: absolute;
    margin-left : 250px;
    margin-top : -30px;
}

.pink {
    background-color: pink;
}

.pro_pic{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.global-cont {
    width: 100vw;
    height: 100vh;
    padding: 0px;
}

.pck-pnl {
    height: 100%;
    overflow:auto;
    padding: 20px;

}

.convbtn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}


.central {
    height: 80%;
    overflow: auto;
}

.send {
    height: 20%;
    overflow: auto;
}

.pck-pnl {
    height: 100%;
    overflow: auto;
    padding: 20px;
}

.central {
    height: 80%;
    overflow: auto;
}

.send {
    height: 20%;
    overflow: auto;
    background-color: lightgrey;  
}

.toggle {
    opacity: 0.5;
}

.toggle:hover {
    opacity: 1;
}

.icons {
    width: 20px;
    height: 20px;
    margin: 4px;
}

.emo_btn{
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.col-6 {
    padding: 0;
}

.no-pad-right {
    padding-right: 0;
    margin-right: 0;
}